extends layout

block content
  .w3-row-padding.w3-padding-48
    form(action='/one', method='get')
      .w3-col.s4.w3-padding-small
        input.w3-input(type='text', placeholder='Resort ID', id='resort_id', name='resort_id', required)
      .w3-col.s4.w3-padding-small
        select.w3-select(required, id='suite_type', name='suite_type')
          option(value='', disabled='', selected='') Select Suite Type
          option(value='Studio') Studio
          option(value='1 Bedroom') 1 Bedroom
          option(value='2 Bedroom') 2 Bedroom
          option(value='3 Bedroom') 3 Bedroom
          option(value='4 Bedroom') 4 Bedroom
      .w3-col.s2.w3-padding-small
        input.w3-input(type='number', placeholder='Months', id='months', name='months', required)
      .w3-col.s2.w3-padding-small
        input(type='submit', value='Run', class='w3-btn w3-round w3-green w3-block')
    .w3-padding-64
      table.w3-table.w3-card.w3-centered
        tr
          th Guesty Listing Name
          th Wyndham Resort Name
          th Unit Type
          th Status
          th Months
          th Started At
          th Finished At
          
      //-   tbody(id="table-body")
      //- script.
      //-   const tableBody = document.getElementById("table-body");
      //-   const eventSource = new EventSource('/sse/oneListing');
      //-   eventSource.onmessage = (event) => {
      //-     const data = JSON.parse(event.data);
      //-     tableBody.innerHTML = '';
      //-     data.forEach(item => {
      //-       const row = document.createElement("tr");
      //-       row.innerHTML = `
      //-         <td>${item.resort.listingName}</td>
      //-         <td>${item.resort.resortName}</td>
      //-         <td>${item.resort.unitType}</td>
      //-         <td>${item.execStatus}</td>
      //-         <td>${item.monthstoScrape}</td>
      //-         <td>${item.createdAt}</td>
      //-         <td>${item.updatedAt}</td>
      //-       `;
      //-       tableBody.appendChild(row);
      //-     });
      //-   };


